In [2]:
import pandas as pd 

df = pd.read_csv("../data/computed/bottle_filter_retention.csv")

df.head()

,Unnamed: 0,Anon,kolejności,Data zakupu,bottle_filter_units,next_purchase_date,days_until_next_purchase,filter_retention_days
0,5,ANON_0006,69825101,2022-11-14,3,2023-03-22,128.0,42.666667
1,764,ANON_0006,99107071,2023-03-22,7,2023-07-14,114.0,16.285714
2,1765,ANON_0006,125125377,2023-07-14,7,2024-03-27,257.0,36.714286
3,5499,ANON_0006,186642606,2024-03-27,9,2024-07-15,110.0,12.222222
4,6,ANON_0007,69871741,2022-11-14,4,2023-11-27,378.0,94.500000

In [6]:
import matplotlib as plt
df["filter_retention_days"].describe()

count    1178.000000
mean       59.807900
std        88.985076
min         0.000000
25%        15.578571
50%        35.666667
75%        70.000000
max       963.000000
Name: filter_retention_days, dtype: float64